body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #e3fdfd, #e6f4f1);
  color: #003844;
  line-height: 1.6;
}

header {
  background: linear-gradient(135deg, #001f3f, #0a9396);
  color: #ffffff;
  text-align: center;
  padding: 55px 10px;
}

header h1 {
  font-size: 34px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  padding: 0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.main {
  background: white;
  color: #0a9396;
}

main {
  max-width: 900px;
  margin: 50px auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid #cdeaea;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #005f73;
  border-left: 5px solid #0a9396;
  padding-left: 10px;
  font-size: 26px;
}

p {
  font-size: 17px;
  color: #003844;
}

h5{
  display: flex;
  justify-content: center;
}